<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PeakLearner</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Template Main CSS File -->
  <style>
  
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/">PeakLearner</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="/about/">About</a></li>
          <li><a class="nav-link scrollto" href="/stats/">stats</a></li>
          <li class="dropdown"><a href="#"><span>Hubs</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Public Hubs</a></li>
              <li><a href="/myHubs/">My Hubs</a></li>
              <li><a href="/newHub/">Upload New Hub</a></li>
            </ul>
          </li>
          
          <li class="dropdown"><a href="#"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">
				{% if user is not none %}
					{{user}}
				{% else %}
					Not Logged In
				{% endif %}
              </a></li>
              <li><a href="/myHubs/">
				{% if user is not none %}
              	<form class="px-4 py-3" action="/logout/" method="get">
                	<div class="form-group">
                    	<input type="submit" value="Sign Out" class="btn btn-secondary btn-block">
                    </div>
                </form>
                {% else %}
                <div class="col text-center">
                	<a class="text-center btn btn-outline-dark" 
                		href="/login/" role="button" style="text-transform:none">
                   		<img width="15px" style="margin-bottom:3px; margin-right:5px" 
                   			alt="Google sign-in" 
                   			src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Login
                   </a>
                </div>
                {% endif %}
			</a></li>   
           </ul>
          </li>
          
          <li class="dropdown"><a href="#"><span>Help</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/tutorial/">Tutorial</a></li>
            </ul>
          </li>
          
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
{% block content %}{% endblock %}
</body>

</html>
